# Supabase configurations
NEXT_PUBLIC_SUPABASE_URL=https://inshmrnqhagwzrjugyvc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_lwGOSGIFr0UtkMn5NeJRJQ_w55E_pnw

# API configurations
NEXT_PUBLIC_API_URL=http://localhost:3000/api
